
body{
    margin: 0;
    padding: 0;
    background: url(blue9.jpg)no-repeat;
    background-size: cover;
}
.box{
    width: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #fff;
    font-family: "century gothic, sans-serif";
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.table th td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}