body{
    margin: 0;
    padding: 0;
    background: url(blue7.jpg)no-repeat;
    background-size: cover;
}
.box{
    width: 500px;
    background: rgba(35, 68, 87, 0.4);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #fff;
    font-family: "century gothic, sans-serif";
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
